:root{
    --rojo: #ca3413;
    --gris: #202b26;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url(../img/rojo.jpg);
    background-attachment:fixed;
}
h1,
article span{
    background-color: var(--rojo);
}
nav,
footer{
    background-color: var(--gris);
}